.planning-container {
  padding: 20px;
}

.pagination-buttons {
  margin-bottom: 10px; /* Space between buttons and table */
}

.planning-table {
  width: 100%;
  border-collapse: collapse;
}

.planning-table th,
.planning-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.planning-table th:first-child,
.planning-table td:first-child,
.planning-table th:nth-child(3),
.planning-table td:nth-child(3) {
  width: 40%; /* Larger columns for Income and Expense */
}

.planning-table th:nth-child(2),
.planning-table td:nth-child(2),
.planning-table th:nth-child(4),
.planning-table td:nth-child(4) {
  width: 20%; /* Smaller columns for amounts */
}

.add-planning-button {
  float: right;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal {
  width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.summary-section {
  margin-top: 30px;
}

.totals-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

.totals-table th,
.totals-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.totals-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.totals-table td {
  font-size: 16px;
}

.pagination-buttons button {
  padding: 5px 10px;
  background: #000;
  color: #f2f2f2;
  border-radius: 10px;
  margin-right: 10px; /* Space between buttons */
}
